<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>챗봇문의</title>
</head>
<body>
    <div>
        <h5>실시간 게시글 신고, 도움을 원하신다면?</h5>
    </div>
    <div>
        <p>
            <span>펫크인의 챗봇 어시스턴트가 있어요.<br>
                  1:1 문의 답변을 기다리기 전,<br>
                  가장 자주 묻는 질문들을 토대로<br>
                  회원님이 원하는 답을 드릴 거예요.
            </span>
        </p>
    </div>
    <div>
        <h5>안녕하세요! 저는 펫크인</h5>
        <input type="button" value="회원가입 / 로그인 문의" onclick=""/>
        <input type="button" value="펫크인 기능 문의" onclick="location.href='/inquiry/list'"/>
        <input type="button" value="신고 문의" onclick=""/>
        <input type="button" value="1:1 문의 하기" onclick="location.href='/inquiry/write'"/>
    </div>
</body>
</html>