<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petkin.customerservice.inquiry.mapper.InquiryMapper">

    <sql id="columns">
        inquiry_history_idx
        , member_idx
        , inquiry_title
        , inquiry_content
        , inquiry_status
        , register_date
    </sql>

    <!-- 저장 -->
    <insert id="save" parameterType="com.petkin.customerservice.inquiry.dto.InquiryRequest" useGeneratedKeys="true" keyProperty="inquiryIdx">
        INSERT INTO community.inquiry_history (
        <include refid="columns" />
        ) VALUES (
        #{inquiryIdx}
        , #{memberIdx}
        , #{inquiryTitle}
        , #{inquiryContent}
        , #{inquiryStatus}
        , NOW()
        )
    </insert>

    <!-- 조회 -->
    <select id="findById" parameterType="int" resultType="com.petkin.customerservice.inquiry.dto.InquiryResponse">
        SELECT
        <include refid="columns" />
        FROM
        inquiry_history
        WHERE
        inquiry_history_idx = #{inquiryIdx}
    </select>

    <!-- 리스트 조회 -->
    <select id="findAll" parameterType="com.petkin.customerservice.inquiry.dto.SearchDto" resultType="com.petkin.customerservice.inquiry.dto.InquiryResponse">
        SELECT
        <include refid="columns" />
        FROM
        inquiry_history
        ORDER BY
        inquiry_history_idx DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <!--게시글 수 카운트-->
    <select id="count" parameterType="com.petkin.customerservice.inquiry.dto.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            inquiry_history
    </select>

</mapper>